* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --black: #283236;
    --white: #F9F9F9;
    --blue: #64DFDF;
    --grey: #9E9E9E;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    font-family: sofia-pro, sans-serif;

    position: relative;
    overflow-x: hidden;
    max-width: 100vw;
}

main {
    padding: 0rem 4.75rem 2rem 4.75rem;
    position: relative;
    font-family: sofia-pro, sans-serif;
}

button {
    border: none;
    font-family: sofia-pro, sans-serif;
    background-color: unset;
}

.fade-out {
    height: 133px;
    width: 100%;
    position: sticky;
    top: 0;
    /* background-color: var(--blue); */
    z-index: 990;
}

.text-align-right-mq {
    text-align: right;
}

.position-right {
    right: 0;
}

.row-reverse {
    flex-direction: row-reverse;
}

@media (max-width:800px) {
    .col-reverse-mq {
        flex-direction: column-reverse;
    }
    .text-align-right-mq {
        text-align: left;
    }
}

@media (max-width:1000px) {

    main {
        padding: 0 2rem 4rem 2rem;
    }

}

h1 {
    font-size: clamp(40px, 4vw, 60px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: unset;
    font-family: regulator-nova, sans-serif;
}

.hero-main {
    background: linear-gradient( to right, var(--black) 50%,var(--blue) 50%);
    background-clip: text;
    color: transparent;
    animation: leftRight 20s linear infinite;
    background-size: 200% 200%;
}

/* MORE WORK */

.more-work {
    display: grid;
}
.more-work-text {
    font-size: clamp(36px, 2vw, 44px);
}

/* MORE WORK */

@keyframes leftRight {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

h2 {
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120.839%;
    color: var(--white);
}

.center-container {
    display: grid;
    place-content: center;
}
.center-text {
    color: var(--black);
}


h3 {
    font-size: clamp(22px, 1vw, 38px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--black);
}

.tag {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    color: var(--grey);
    text-align: center;
}

.title {
    display: grid;
    gap: 1rem;
    text-align: center;
}

.title-2 {
    color: #0197F6;
    font-size: clamp(26px, 1vw, 38px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.project-card-text {
    font-size: 14px;
}

h4 {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120.839%;
}

h5 {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 120.839%; /* 26.585px */
    text-transform: capitalize;
}

.blue {
    color: #0197F6;
}
.green {
    color: #58A696;
}
.purple {
    color: #8A6DF4;
}

h6 {
    color: var(--black, #2E2E2E);
    font-size: clamp(18px, 3vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

p {
    color: var(--bg, #2E2E2E);
    font-size: clamp(14px, 2vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

li {
    list-style: none;
    padding: 5px 0px;
}

a {
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(
        to right,
        var(--blue),
        var(--blue) 50%,
        var(--black) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a:before {
    content: '';
    background: var(--blue);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-position: 0;
    background-size: 200% 100%;
    background-position: -100%;
}

a:hover::before {
    width: 100%;
}

.current-page {
    background: var(--blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--black);
    position: relative;
}

.current-page:before {
    content: '';
    background: var(--blue);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
}

.hide {
    display: none;
}

@media (max-width:1000px) {
    .hide {
        display: block;
    }
}

/* NAV */

header {
    position: relative;
}

.menu {
    position: absolute;
    position: fixed;
    opacity: 0;
    bottom: -100%;
    transition: opacity 800ms ease-in-out, bottom 600ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 100vh;
    width: 100vw;
}

.menu-active {
    opacity: 1;
    z-index: 10;
    bottom: 0;
    transition: opacity 800ms ease-in-out, bottom 600ms ease-in-out;
}

.menu-link {
    color: var(--black);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;

    animation: slideIn 300ms;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        bottom: -20;
    }
    100% {
        opacity: 100;
        bottom: 0;
    }

}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

#nav-bar {
    position: fixed;
    width: 100%;
    padding: 1.5rem 4.75rem 1.5rem 4.75rem;
    top: 0;

    background-color: var(--white);
    transition: top 0.75s;

    z-index: 999;
}

.nav-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-large-links {
    display: flex;
    gap: 3rem;
    flex-direction: row;
}

.large-link {
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media (max-width:1000px) {
    #nav-bar {
        padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    }

    .nav-large-links {
        display: none;
    }
}
@media (min-width:1000px) {
    .menu-active {
        display: none;
    }
}

.logo {
    padding: 1.5rem 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--black);
    transition: 500ms ease;
}

.logo:hover {
    fill: var(--blue);
    cursor: pointer;
}

.show {
    opacity: 100%;
}

.nav-link {
    background-color: var(--blue);
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    transition: ease-in-out 300ms;
}

.nav-links-small {
    display: flex;
    gap: 1.5rem;
}

.nav-link-small {
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    padding: 0.5rem;
    color: white;
    max-height: max-content;
    transition: ease-in-out 300ms;
}

.nav-link-small:hover {
    background: var(--blue-1, #64DFDF);
    box-shadow: 0px 10px 0px 0px #2E2E2E;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

@media (max-width:1000px) {
    .nav {
        right: 30px;
    }
    .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 1rem;
    }
    .nav-links-small {
        gap: 1rem;
    }
}

.nav-link:hover {
    background: var(--blue-1, #64DFDF);
    box-shadow: 0px 10px 0px 0px #2E2E2E;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

/* BUTTON */

.nav-btn {
    background: transparent;
    border: none;
    fill: var(--black);
    transition: 300ms all ease-in-out;
}

.nav-btn .line {
    transition: 
        y 300ms ease-in 300ms,
        rotate 300ms ease-in;
        opacity: 0ms 300ms;
    ;
    transform-origin: center;
}

.nav-btn[aria-expanded="true"] .line {
    transition: 
        y 300ms ease-in,
        rotate 300ms ease-in 300ms;
        opacity: 0ms 300ms;
    ;
}

.nav-btn[aria-expanded="true"] .top {
    rotate: 45deg;
}
.nav-btn[aria-expanded="true"] .middle {
    opacity: 0;
}
.nav-btn[aria-expanded="true"] .bottom {
    rotate: -45deg;
}

.nav-btn[aria-expanded="true"] :is(.top, .bottom) {
    y: 45;
}

.nav-btn:hover {
    scale: 1.02;
    cursor: pointer;
    fill: var(--blue);
}

/* NAV */

/* SCROLL EFFECT */

#bar {
    height: 5px;
    transition: all linear 0.1s;
    position: absolute;
    top: 133px;
    left: 0;
}

.bar-blue {
    background-color: var(--blue);
}
.bar-mind {
    background-color: #0197F6;
}
.bar-green {
    background-color: #1C6959;
}
.bar-purple {
    background-color: #8A6DF4;
}

::-webkit-scrollbar {
    width: 0px;
}

/* HERO */

.hero {
    height: 100svh;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 5rem;
}

.spinning-star-1 {
    position: absolute;
    right: 0px;
    margin-right: -200px;
    z-index: -1;
}
.spinning-star-2 {
    position: absolute;
    right: 0px;
    margin-right: -200px;
    z-index: -1;
    top: 500px;
}

.hero-text {
    position: relative;
}

/* HERO */

.next-section {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    right: 0;
}

.next-section-2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    left: 0;
}

.next-section-3 {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.next-section-text {
    color: var(--black);
    font-size: 22px;
    font-weight: 600;
}

/* What I Do */

.what-i-do {
    display: grid;
    place-content: center;
    height: 100svh;
    position: relative;
    padding: 0 5rem;
}

.what-i-do-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
}

.wid-text {
    display: flex;
    gap: 4rem;
}

.wid-text div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (max-width:1000px) {
    .what-i-do {
        padding: 0 2.5rem;
    }
    .what-i-do-info {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .wid-text {
        max-width: 100%;
    }
}

.wid-text-title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
}

.wid-text-title h6 {
    color: transparent;
    font-size: 28px;
    font-weight: 700;
    width: max-content;
    font-family: regulator-nova, sans-serif;
}

.wid-text-main-1 {
    background: linear-gradient( to right, var(--black) 50%,var(--blue) 50%);
    animation: leftRight 22s linear infinite;
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
}

.wid-text-main-2 {
    background: linear-gradient( to right, var(--blue) 50%,var(--black) 50%);
    animation: leftRight 22s linear infinite;
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
}

.what-i-do-info p {
    font-size: 18px;
}

/* PROJECTS */

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding-bottom: 4rem;
    position: relative;
    height: 110%;
}

/* PROJECTS IN PROJECTS */

.projects-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (max-width:1000px) {
    .projects-2 {
        grid-template-columns: 1fr;
    }
}

.project-card {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 800ms ease;
}

#project-card-1 {
    grid-column: span 2;
    grid-row: span 2;
}

@media (max-width:1000px) {
    .projects {
        display: flex;
        flex-direction: column;
    }
    .project-card {
        height: 70svh;
    }
}

.project-card .img-hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    filter: brightness(60%);
}

.project-card .img-hover-2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: 300ms ease-in-out;
    filter: brightness(60%);
}

.project-card:hover .img-hover {
    opacity: 1;
    cursor: pointer;
}

.project-card:hover {
    scale: 1.01;
}

.project-card .img-main {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 300ms ease;
}

.project-card:hover .img-main {
    opacity: 0;
    cursor: pointer;
}

.product-card-text-2 {
    position: absolute;
    z-index: 990;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.product-card-text-3 {
    position: absolute;
    z-index: 990;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide-3 {
    display: none;
}

@media (max-width:800px) {
    .project-card .img-hover {
        opacity: 1;
    }
    .hide-3 {
        display: block;
    }
}

/* HOVER EFFECT */

.cursor {
    /* border: 2px solid var(--blue); */
    border-radius: 50%;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 999;
    position: fixed;
    left: 0;
    pointer-events: none;
    transition: transform .1.5s;
}

.project-card-1-text, .project-card-2-text, .project-card-3-text{
    display: grid;
    transition: transform 0s;
    top: 25px;
    left: -25px;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
}

/* PROJECT 1 */

.project-hero {
    height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 6rem 4.75rem;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    /* background-color: #FC9601 opacity="0.6"; */
}

@media (max-width:1000px) {
    .project-hero {
        padding: 6rem 2rem;
    }
}

.ph-bg-orange {
    background-color: rgba(252, 150, 1, 0.6);
}
.ph-bg-green {
    background-color: #1C6959;
}
.ph-bg-purple {
    background-color: #8A6DF4;
}

.project-hero-img {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    min-width: 100vw;
}

@keyframes leftRight {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.project-hero-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--white);
    position: relative;
}

.pht-1{
    background: linear-gradient( to right, #FCFCFC 50%,#0197F6 50%);
    animation: leftRight 22s linear infinite;
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
}

.pht-2 {
    background: linear-gradient( to right, #58A696 50%,#C0E3DB 50%);
    animation: leftRight 22s linear infinite;
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
}

.pht-3 {
    background: linear-gradient( to right, #7B2CBF 50%,#FFEC9B 50%);
    animation: leftRight 22s linear infinite;
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
}

.project {
    display: grid;
    place-content: center;
    gap: 8rem;
    width: 100%;
    padding-top: 8rem;
}

/* ABOUT ME */

.about-me {
    display: grid;
    place-content: center;
    height: 100svh;
}

/* IMG TEXT */

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    justify-items: center;
}

@media (max-width:1000px) {
    .project-container {
        min-height: 40svh;
    }
}

.project-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-container p {
    line-height: 1.7rem;
    font-size: clamp(16px, 1vw, 20px);
}

/* PROJECT TEXT */

.project-text {
    display: grid;
    gap: 1.5rem;
    padding: 0 16rem;
}

.project-text h5 {
    font-size: clamp(22px, 2vw, 28px);
}

@media (max-width:1000px) {
    .project-text {
        padding: 0 6rem;
    }
}
@media (max-width:800px) {
    .project-text {
        padding: 0;
    }
}

.project-text p {
    line-height: 1.7rem;
    font-size: clamp(16px, 1vw, 20px);
}

/* IMAGES */

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
}

@media (max-width:800px) {

}

.images img {
    object-fit: contain;
    max-width: 100%;
}

/* IMAGES */

.image-container {
    border-radius: 20px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.5rem;
}

.image-container img {
    width: 100%;
    height: 70svh;
    object-fit: cover;
}

/* IMG TEXT */

.image-text {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.image-text h5 {
    font-size: clamp(22px, 2vw, 28px);
}

.image-text p {
    font-size: clamp(16px, 1vw, 20px);
    line-height: 1.7rem;
}
.image-text div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image-text img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2;
}

@media (max-width:800px) {
    .image-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .image-text img {
        grid-column: span 1;
    }
}


/* IMG FULL */

.image-container-full {
    max-width: 100%;
}

.image-container-full img {
    width: 100%;
    height: 70svh;
    object-fit: cover;
}

@media (max-width:800px) {
    .image-container-full img {
        height: 50svh;
    }
}

/* IMG FULL */

/* IMG FINAL CONTAINER */

.final-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.final-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* IMG FINAL CONTAINER */

.bg-pink {
    background-color: #D87AB8;
}
.bg-green {
    background-color: #58A696;
}

.image-tall img {
    width: 250px;
    place-self: center;
    object-fit: cover;
}

.image-container-2 {
    display: grid;
}

.image-container-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.image-container-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media (max-width:1200px) {
    .image-container-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:800px) {
    .image-container-3 {
        grid-template-columns: 1fr;
    }
    .hide-2 {
        display: none;
    }
}

.image-container-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    gap: 6rem;
}

.img-sml {
    object-fit: cover;
    width: 300px;
    border-radius: 30px;
    box-shadow: 0px 517px 145px 0px rgba(0, 0, 0, 0.00), 0px 331px 132px 0px rgba(0, 0, 0, 0.01), 0px 186px 112px 0px rgba(0, 0, 0, 0.05), 0px 83px 83px 0px rgba(0, 0, 0, 0.09), 0px 21px 45px 0px rgba(0, 0, 0, 0.10);
    align-self: center;
    justify-self: center;
}
.img-lrg {
    object-fit: cover;
    width: 60%;
    max-height: 600px;
    border-radius: 20px;
    box-shadow: 0px 517px 145px 0px rgba(0, 0, 0, 0.00), 0px 331px 132px 0px rgba(0, 0, 0, 0.01), 0px 186px 112px 0px rgba(0, 0, 0, 0.05), 0px 83px 83px 0px rgba(0, 0, 0, 0.09), 0px 21px 45px 0px rgba(0, 0, 0, 0.10);
    align-self: center;
}

@media (max-width:1200px) {
    .img-text {
        flex-wrap: wrap;
    }
    .img-text-rev {
        flex-direction: column-reverse;
    }
    .img-sml {
        width: 50%;
        border-radius: 12px;
    }
    .img-lrg {
        width: 80%;
    }
}

@media (max-width:1000px) {
    .img-lrg {
        width: 100%;
    }
}

.desc-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.p-2 {
    color: var(--grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px
}

.images {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    border-radius: 20px;
}

.three-col img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    border-radius: 40px;
    box-shadow: 0px 400px 112px 0px rgba(0, 0, 0, 0.00), 0px 256px 102px 0px rgba(0, 0, 0, 0.01), 0px 144px 86px 0px rgba(0, 0, 0, 0.05), 0px 64px 64px 0px rgba(0, 0, 0, 0.09), 0px 16px 35px 0px rgba(0, 0, 0, 0.10);
}

/* ROW */

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.row-container img {
    object-fit: cover;
    max-width: 100%;
    border-radius: 12px;
}

/* ROW */

.achievement h3 {
    font-size: 18px;
}

.achievement p {
    font-size: 12px;
    color: var(--grey);
}

.two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.two-col img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.one-col {
    display: grid;
    grid-template-columns: 1fr;
}

.one-col img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: 70svh;
}

@media (max-width:1200px) {
    .two-col {
        grid-template-columns: 1fr;
    }
}

@media (max-width:1000px) {
    .three-col {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .three-col img {
        max-width: 70%;
    }
}

@media (max-width:800px) {
    .three-col {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

/* ABOUT */

.hero-about {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;
}

.hero-about p {
    max-width: 70%;
    font-size: 16px;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: center;
    justify-items: center;
    padding: 0rem 4rem 12rem 4rem;
    position: relative;
}

.about-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: center;
    justify-items: center;
    position: relative;
}
.about-home p {
    font-size: 16px;
    max-width: 450px;
    line-height: 1.7rem;
}
.about-home img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}


.about-1 {
    bottom: -5%;
    opacity: 0;
}
.about-2 {
    bottom: -5%;
    opacity: 0;
}
.about-3 {
    bottom: -5%;
    opacity: 0;
}

.about p {
    font-size: 16px;
    max-width: 450px;
    line-height: 1.7rem;
}

.img-1 {
    position: relative;
    max-height: 450px;
    max-width: 450px;
    aspect-ratio: 1/1;
    align-self: center;
}
.img-2 {
    position: relative;
    max-height: 250px;
    max-width: 450px;
    aspect-ratio: 2/1;
    align-self: center;
}

.about img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media (max-width:800px) {
    .hero-about p {
        max-width: 100%;
    }
    .about {
        grid-template-columns: 1fr;
        padding: 0rem 2.5rem 12rem 2.5rem;
    }
    .about p {
        grid-row-start: 2;
    }
    .about-home {
        grid-template-columns: 1fr;
    }
    .about-home p {
        grid-row-start: 2;
    }
}

.tag {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: -2.5rem;
}
.tag h6 {
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
}

/* Work Experience */

.job-title {
    color: var(--blue);
    font-size: clamp(22px, 3vw, 26px);
}

.job-desc {
    color: var(--black);
    font-size: 16px;
}

.job-tag {
    color: var(--blue);
    font-weight: 600;
    font-size: 16px;
}

.work-experience-container {
    display: grid;
    justify-items: center;
    place-content: center;
    gap: 8rem;
    padding-bottom: 4rem;
}

.work-experience-heading {
    font-size: clamp(40px, 3vw, 48px);
    position: relative;
    padding: 5.5rem;
}

.work-experience {
    display: grid;
    gap: 5.5rem;
    padding: 0rem 6rem;
}

.job-card {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    align-items: center;
    position: relative;
    padding: 2rem;
}

.job-card::before {
    content: '';
    background: var(--blue);
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 3px;
}

.job-card-1 {
    bottom: -5%;
    opacity: 0;
}
.job-card-2 {
    bottom: -5%;
    opacity: 0;
}

.job-card-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (max-width:1000px) {
    .job-card {
        grid-template-columns: 1fr;
    }
    .work-experience {
        padding: 0rem;
    }
    .work-experience-heading {
        padding: 2.5rem;
    }
    .job-card::before {
        width: 50%;
    }
}

/* CONTACT */

.contact {
    display: grid;
    justify-content: start;
    gap: 7.5rem;
    padding: 6rem 12rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.contact-info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10.5rem;
}

.contact-info-title {
    color: var(--blue);
    font-weight: 700;
    font-size: 26px;

    /* text-decoration: none;
    text-align: center;
    background-image: linear-gradient(
        to right,
        var(--blue),
        var(--blue) 50%,
        var(--black) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out; */
}
.contact-info-sub {
    color: var(--black);
    font-weight: 400;
    font-size: clamp(14px, 2vw, 18px);
}

.contact-info-title:before {
    content: '';
    background: var(--blue);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.contact-info-title:hover::before {
    width: 100%;
    cursor: pointer;
}

@media (max-width:1000px) {
    .contact-info-container {
        flex-direction: column;
    }   
}

@media (max-width:800px) {
    .contact {
        gap: 2rem;
        padding: 2.5rem;
    }
    .contact-info-container {
        gap: 4rem;
    }
}

/* Footer */

footer {
    display: grid;
    gap: 2rem;
    padding: 4.5rem 6rem 4rem 6rem;
    overflow-y: none;
}

.footer-tags {
    display: grid;
    gap: 1.5rem;
}

.footer-tag {
    font-size: 28px;
}

.footer-links {
    display: flex;
    gap: 4.5rem;
}

.footer-name {
    font-weight: 500;
    font-size: clamp(16px, 2vw, 24px);
}

@media (max-width: 1000px) {
    footer {
        padding: 2.5rem 2rem;
    }
    .footer-links {
        flex-wrap: wrap;
        gap: 2rem;
    }
}

/* Back to top */

.back-top-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    align-items: center;

    padding: 10rem 0 0 0;
}

.back-top-container-home {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    align-items: center;
}

.back-top-text {
    color: var(--black);
    font-size: 22px;
    font-weight: 600;
}

/* Page Transitions */

